<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'TITLE' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- intro text -->
    <div class="ion-padding">
        <p class="soft ion-text-center no-spacing">{{ 'INTRO' | translate }}</p>
    </div>

    <!-- divider -->
    <ion-row class="ion-justify-content-center">
        <div class="divider"></div>
    </ion-row>

    <!-- law input section -->
    <h5 class="no-spacing ion-text-center">{{ 'LAW' | translate }}</h5>

    <ion-row class="no-spacing ion-justify-content-center ion-padding">
        <ion-col size="5">
            <ion-row class="full-size ion-justify-content-end ion-align-items-center">
                <ion-input class="align-right grey-background" type="number" value="79"
                           clearInput (ionChange)="updateGovEnergy($event)"></ion-input>
            </ion-row>
        </ion-col>
        <ion-col size="4">
            <p>J - {{ 'JOULE_DESC' | translate }}</p>
        </ion-col>
    </ion-row>

    <ion-row class="no-spacing ion-justify-content-center ion-padding">
        <ion-col size="5">
            <ion-row class="full-size ion-justify-content-end ion-align-items-center">
                <ion-input class="align-right grey-background" type="number" value="30"
                           clearInput (ionChange)="updateGovHeight($event)"></ion-input>
            </ion-row>
        </ion-col>
        <ion-col size="4">
            <p>m - {{ 'HEIGHT_DESC' | translate }}</p>
        </ion-col>
    </ion-row>

    <!-- divider -->
    <ion-row class="ion-justify-content-center">
        <div class="divider"></div>
    </ion-row>

    <!-- drone input section -->
    <h5 class="no-spacing ion-text-center">{{ 'DRONE' | translate }}</h5>

    <div class="ion-padding">
        <p class="soft ion-text-center ion-no-margin">{{ 'POPULAR_DRONE' | translate }}</p>
    </div>

    <!-- drone presets -->
    <ion-row class="ion-padding-start ion-padding-end">
        <ion-col size="4"><ion-button class="full-width" size="small" (click)="setWeight(300)">Spark</ion-button></ion-col>
        <ion-col size="4"><ion-button class="full-width" size="small" (click)="setWeight(430)">Mavic Air</ion-button></ion-col>
        <ion-col size="4"><ion-button class="full-width" size="small" (click)="setWeight(734)">Mavic Pro</ion-button></ion-col>
    </ion-row>

    <!-- custom drone input section -->
    <div class="ion-padding">
        <p class="soft ion-text-center ion-no-margin">{{ 'CUSTOM_DRONE' | translate }}</p>
    </div>

    <ion-row class="no-spacing ion-justify-content-center ion-padding">
        <ion-col size="5">
            <ion-row class="full-size ion-justify-content-end ion-align-items-center">
                <ion-input class="align-right grey-background" type="number" placeholder="{{ 'WEIGHT_PLACEHOLDER' | translate }}"
                           clearInput (ionChange)="updateWeight($event)" [value]="weight"></ion-input>
            </ion-row>
        </ion-col>
        <ion-col size="4">
            <ion-select value="g" (ionChange)="updateUnit($event)">
                <ion-select-option value="g">g</ion-select-option>
                <ion-select-option value="kg">kg</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>

    <!-- divider -->
    <ion-row class="ion-justify-content-center">
        <div class="divider"></div>
    </ion-row>

    <h3 class="ion-text-center no-spacing"><b>{{ 'RESULT' | translate }}:</b></h3>

    <!-- result card -->
    <ion-card *ngIf="weight" class="result-card-allowed result-card" [ngClass]="{'result-card-forbidden' : maxHeight < 0}">
        <ion-card-content>
            <ion-row class="ion-justify-content-center ion-margin-bottom">
                <h1 class="black">{{ (maxHeight < 0 ? 'FORBIDDEN' : 'ALLOWED' ) | translate }}</h1>
            </ion-row>
            <ion-row class="ion-justify-content-between">
                <ion-col size="6"><p class="ion-text-center black"> <b>{{ 'RES_HEIGHT' |translate }}</b></p></ion-col>
                <ion-col size="6"><p class="ion-text-center black">{{ maxHeight > 0 ? round(maxHeight) : 0 }} m</p></ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-between">
                <ion-col size="6"><p class="ion-text-center black"> <b>{{ 'RES_ENERGY' |translate }}</b></p></ion-col>
                <ion-col size="6"><p class="ion-text-center black">{{ round(energy) }} J</p></ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-between">
                <ion-col size="6"><p class="ion-text-center black"> <b>{{ 'RES_PERCENT' |translate }}</b></p></ion-col>
                <ion-col size="6"><p class="ion-text-center black">{{ round(percentOfAllowedPowerAtMaxAlt) }} %</p></ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <!-- placeholder result until data is available -->
    <div *ngIf="!weight" class="ion-padding">
        <p class="soft ion-text-center no-spacing">{{ 'RESULT_PLACEHOLDER' | translate }}</p>
    </div>
</ion-content>
