.soft {
  color: grey;
  font-size: 14px;
}

.full-size {
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.align-right {
  text-align: right;
}

.divider {
  background: lightgray;
  height: 1px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.input-width {
  width: 80%;
}

.grey-background {
  --background: var(--ion-color-light-shade);
}

.result-card-allowed {
  --background: var(--ion-color-success-tint);
}

.result-card-forbidden {
  --background: var(--ion-color-danger-tint);
}

.black {
  color: black;
}

.result-card {
  margin-top: 12px;
}
