.soft {
  color: grey;
}

.full-size {
  height: 100%;
  width: 100%;
}

.align-right {
  text-align: right;
}

.divider {
  background: lightgray;
  height: 1px;
  width: 80%;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.input-width {
  width: 80%;
}

.grey-background {
  --background: var(--ion-color-light-shade);
}
